.webCam {
  display: flex;
  max-width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.webCam .camera,
.image {
  width: 80%;
  height: 70vh;
  margin: 5vh 80vh;
}
.camera-btns {
  margin-bottom: 5%;
  border: 0;
  padding: 0.5rem 1.8rem;
  color: #fff;
  background-color: #323232;
  transition: 0.5s;
  font-weight: 600;
}
.camera-btns:hover {
  background: #fff;
  color: #323232;
  transform: scale(1.2);
}
